@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


:root{
	--color-text: #FBFBFB;
	--color-back: #1d1d1d;
	--color-red: #A30B37;
	--color-blue: #0D5C63;
	--color-purple: #842353;
	--color-border: #0000004d;
	--color-submenu: #201A23;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.90em;
	background-color: var(--color-back);
	margin: 0;
	color: var(--color-text);
}

#main{
	display: grid;
	grid-template-areas: 'menu output' 'menu output' 'menu bottom';

	grid-template-rows: auto auto 5rem;
	grid-template-columns: 15rem auto;
	width: 100vw;
	height: 100vh;
}

#menu{
	background-color: #101010;
	grid-area: menu;

	/*
 	border-right: 1px solid var(--color-border);
	border-radius:5px;
	margin: 5px;
	*/
}

#logo{
	padding: 2rem 0 2rem 0;
	text-align: center;
	font-weight: 300;
	font-size: 2em;
}

.node{
	font-weight: 600;
	background-color: var(--color-border);
	border-radius: 5px;
	padding: 10px;
	margin: 2px 5px;
}

.icon, .address{
	float: left;
}

.icon{
	width: 20px;
	margin-right: 5px;
}

.node:after{
	content: ' ';
	display: block;
	clear: both;
}

.address{

}

.port{
	color:#bc6897;
}

#output{
	padding-top: 5px;
	grid-area: output;
	height: auto;
	overflow-y: scroll;
/*	display: grid;
	grid-template-columns: 4em 9em auto;
	grid-gap: 5px;*/
}

.entry{
	margin: 0.5rem;
	position: relative;
	display: grid;
	grid-template-areas: 'date user message';
	grid-template-columns: 5rem 8rem auto;
	grid-template-rows: auto auto;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #292929;
}

.entry:last-child{
	border: 0;
}

.warning, .error, .notice, .blank{
	grid-template-columns: 5rem  2rem auto;
}

.error .user{
	color: rgb(199, 40, 40);
}

.warning .user{
	color:rgb(175, 175, 37);
}

.notice .user{
	color: rgb(43, 152, 185);
}

.blank{
	grid-template-areas: 'date message';
	grid-template-columns: auto;
	grid-template-areas: 'message';
}

.entry div{
	/*display:inline-block;*/
}

.date{
	color: #5d5d5d;
	grid-area: date;
}

.user{
	font-weight: 600;
	grid-area: user;
	/*width: 8rem;*/
}

.msg{
	grid-area: message;
	/*display: inline-block*/
}

#bottom{
	background-color: #303030;
	grid-area: bottom;
	position: relative;
	display: grid;
	grid-template-areas: 'a b c . . . . . . . . . .' 'input input input input input input input input input input input input input';
	grid-template-columns: 0.2fr 0.2fr 0.2fr 5fr;
	grid-template-rows: 0.8fr 1fr;


}

.button{
	background-color:#1a1a1a;
	border-radius: 5px;
	border: 1px solid #2a2a2a;
	margin: 2px;
	color:#efefef;
}

#input{
	grid-area: input;
	border: none;
	background-color: #1b1b1b;
	padding-left: 20px;
	border-radius: 5px;
	margin: 5px;
	color:#e9e9e9;
}